@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* #26A2AC */
* {
    color: #e7f4ff !important;
}

nav img {
    max-width: 25px;
    margin-right: 5px;
}

#carousel img {
    max-height: 850px;
}

#quienes-somos {
    background-color: #021313;
}

#destacados{
    background-color: #021313;
    & img {
        max-height: 202px;
    }
}

#contacto{
    background-color: #021313;

    & textarea {
        height: 200px;
    }
}